h1 {
	margin: 40px auto 0 auto;
	font-size: 30px;
	font-weight: 200;
	line-height: 60px;
	text-align: center;
	max-width: 910px;
	color: #333;
}

.under {
	background: linear-gradient(transparent 75%, #C7B2D6 70%);
}


#main_content {
	padding-top: 20px;
}
/* button */
.btn-flat {
  position: relative;
  font-weight: normal;
  text-decoration: none;
  color: #3c3c3c;
	margin-bottom: 5px;
	font-family: 'klee',sans-serif;
}
.btn-flat:hover {
  color:#8D8D8D;
}
.btn1{
	display: flex;
	flex-direction: column;
}
li{
	list-style: inside;
}

@media screen and (max-width: 480px)
.inner {
	min-width: 320px;
	max-width: 480px;
}
.inner {
	position: relative;
	max-width: 640px;
	padding: 5px 10px;
	margin: 0 auto;
}
.inner h2 {
	margin-bottom: 10px
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
}
